<h2><%= @message.title %></h2>

<%= simple_format @message.content %>

<h2>Comments list</h2>

<%= form_for [@message, @comment] do |f| %>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content, :required => true %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<h3>likes:</h3>

<% @message.likes.each do |like| %>
  <p><%= like.user.email %></p>
<% end %>

<h3>subscriptions:</h3>

<% @message.subscriptions.each do |subscription| %>
  <p><%= subscription.user.email %></p>
<% end %>

<br /><br />

<% @message.comments.each do |comment| %>

  <div id="com_<%= comment.id %>">
    <p><%= simple_format comment.content %> at <%= comment.created_at.to_s(:short) %> by <%= comment.user.display_name %>

      <% if comment.user == current_user %>
        <%= link_to "Delete", message_comment_path(@message, comment), :method => :delete, :data => { :confirm => "Are u sure?"}, :remote => true %>
      <% end %>
    </p>
  </div>

<% end %>

